<!-- <div> -->
<!--output '$0.26'-->
<!-- <p>A: {{num | currency }}</p> -->

<!--output 'CA$0.26'-->
<!-- <p>A: {{ a | currency: "USD" }}</p> -->

<!--output 'CAD0.26'-->
<!-- <p>A: {{ a | currency: "CAD":"code" }}</p> -->

<!--output 'CA$0,001.35'-->
<!-- <p>B: {{ b | currency: "CAD":"symbol":"4.2-2" }}</p> -->

<!--output '$0,001.35'-->
<!-- <p>B: {{ b | currency: "CAD":"symbol-narrow":"4.2-2" }}</p> -->

<!--output '0 001,35 CA$'-->
<!-- <p>B: {{ b | currency: "CAD":"symbol":"4.2-2":"fr" }}</p> -->

<!--output 'CLP1' because CLP has no cents-->
<!-- <p>B: {{ b | currency: "CLP" }}</p> -->
<!--  -->
<!-- <p>{{ num | currency }}</p>
  <p>{{ num | currency: "EUR" }}</p>
  <p>{{ num | currency: "EUR":"code" }}</p> -->
<!-- </div> -->

<form class="frConverter">
  <div>
    <span>I Have</span>
    <select name="base_currency"></select>
    <input type="hidden" name="default_base" value="usd" />
    <input type="text" name="base_value" size="5" value="1" />
  </div>
  <div>
    <span>I Want</span>
    <select name="target_currency" onChange="frExCalc();"></select>
    <input type="hidden" name="default_target" value="eur" />
    <input type="text" name="target_value" size="5" value="" />
  </div>
  <br /><a class="frLink" href="//www.floatrates.com/">Exchange Rates</a>
</form>

<script type="text/javascript">
  (function () {
    var js = document.createElement("script");
    js.type = "text/javascript";
    js.async = true;
    js.src = "//www.floatrates.com/scripts/converter.js";
    var sjs = document.getElementsByTagName("script")[0];
    sjs.parentNode.insertBefore(js, sjs);
  })();
</script>
